/* You can add global styles to this file, and also import other style files */
.background-color{
    background-color: #0d345f;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 70px;
    height: 70px;
}

.stripe-dark{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0.8rem 0rem 0.8rem;
    background-color: rgba(0,0,0,.7);
}

.collection-card .stripe.dark a p {
    color: #eee;
}

.card-image{
    height: 280px;
    width: 262px;
}

.navbar {
    font-weight: 400;
}

.card.card-cascade.wider {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.card.card-cascade.wider .card-body.card-body-cascade {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    -webkit-border-radius: 0 0 .25rem .25rem;
    border-radius: 0 0 .25rem .25rem;
}

.navi-active{
    border-bottom: 3px solid;
    color: #fff;
}

.navbar-nav li a.active {
    border-bottom: 3px solid;
    color: red;
}

// .card-intro {
//     padding-left: 0!important;
//     margin-top: 95px!important;
// }

.card-body{
    background: linear-gradient(40deg, #3cbbea, #0d345f) !important;
    color: #fff;
}
.card .card-body .card-text {
    color: #fff;
}
.sub-text-color{
    color: #6effb6;
}
.card-padding{
    padding: 0.28rem;
    padding-bottom: 0;
}
.carousel-stripe{
    width: 100%;
    font-weight: 400 !important;
    left: 0;
    padding: 9px 0;
    right: 0;
    color:#eaea45;
    background-color: rgba(108, 103, 58, 0.55);
}
.font_weight-400{
    font-weight: 400;
    font-family: cursive;
}
@media (min-width: 600px){
    .navbar.scrolling-navbar {
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        padding-top: 22px;
        padding-bottom: 20px;
    }
}



.img-row {
    display: inline-block;
  }
  
  .img-frame {
    margin: 10px;
    border: 5px solid #fff;
    cursor: zoom-in;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  .img-frame:hover, .img-frame:focus, .img-frame:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }